* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body > * { /* target all children of body element */
    padding-left: 60px;
    padding-right: 60px;
}

.header,
.hero-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: bisque;
}

.hero-image {
    width: 300px;
    height: 130px;
    background-color: gray;
}

.info-area {
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-image {
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.quote-text {
    font-style: italic;
    font-size: 24px;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.signup-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-highlighted {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 30px;
    margin: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    margin-top: auto;
}