* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: system-ui, 'Segoe UI', sans-serif;
}

body > * { /* target all children of body element */
    padding-left: 60px;
    padding-right: 60px;
}

.header,
.hero-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-image {
    width: 300px;
    height: 130px;
    background-color: gray;
}

button {
    background-color: #3882F6;
    border-radius: 4px;
    padding: 5px 25px;
    border: none;
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 800;
}

.info-area {
    display: flex;
    flex-direction: column;
    background-color: azure;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card-image {
    width: 75px;
    height: 75px;
    border: 1px solid black;
}

.quote-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

.quote-text {
    font-style: italic;
    font-size: 24px;
}

.quote-author {
    align-self: flex-end;
    font-weight: bold;
}

.signup-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-highlighted {
    display: flex;
    flex: 1;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 30px;
    margin: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: bisque;
    margin-top: auto;
}